<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="UrlObtenerDiputadosGanadores" value="/api/Resultado/ObtenerDiputadosGanadores" />    
    <add key="UrlObtenerLegisladoresGanadores" value="/api/Resultado/ObtenerLegisladoresGanadores" />
    <add key="UrlObtenerResultadosParciales" value="/api/Resultado/ObtenerResultadosParciales" />    
    <add key="NombreServidor" value="htttp://sanmartinserver.blabla.sarasa.enlapera.com" />
  </appSettings>
</configuration>